{% extends 'base.html.twig' %}

{% block title %}
  Accueil Personne Inscrit
{% endblock %}

{% block body %}
  <style>
    .column {
      display: flex;
      flex-direction: column;
    }
  </style>
  <div class="column">
    <a href="{{ path('app_logout') }}">Se deconnecter</a>
    {% if isresponsable is defined %}
      <a href="{{ path('app_delaccount') }}">Supprimer son compte</a>
      <a href="{{ path('app_listenfant') }}">Voir les comptes de ses enfants</a>
    {% endif %}
  </div>
{% endblock %}
