
ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.droite
{

color: red;
margin-left: 900px;

}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 5px;
    margin-right: 95px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

body
{
    margin:0;
}
h1 {
    text-align: center;
}

.titre1 {
    text-align: center;
}

.logo
{
    display: block;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    object-fit: cover;
    background-size: 100% 100%;
    text-decoration: none;
    height: auto;
    width: 50px;

}
.block1
{
    text-align: center;
}

.block1 >strong
{
    color: red;
}