{% extends 'base.html.twig' %}

{% block title %}Hello ResponsableController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur votre espace personnel {{ controller_name }}! ✅</h1>

     <table>
    <h1>Consulter la liste des cours inscrits</h1>
    <a href="">Général</a>
      {%for i in coursInscrits %} 
      <a href="{{ path('app_listeInscrit'{'idInscrit':i.idInscrit}) }}"{{i.nom}}></a>
      {% else %}
      <a>Vous n'êtes inscrits a aucun cours</a>  
    </table>
</div>
{% endblock %}
