{% extends 'base.inscription_connection.html.twig' %}
{% block title %}
 <title>Inscription</title> 
{% endblock %}
{% block rouge %}
<div class="login-page">
      <div class="container d-flex align-items-center position-relative py-5">
        <div class="card shadow-sm w-100 rounded overflow-hidden bg-none">
          <div class="card-body p-0">
            <div class="row gx-0 align-items-stretch">
              <!-- Logo & Information Panel-->
              <div class="col-lg-6">
                <div class="info d-flex justify-content-center flex-column p-4 h-100">
                  <div class="py-5">

                    <h1 class="display-6 fw-bold">Inscription</h1>
                  </div>
                </div>
              </div>
              {% endblock %}  
   
{% block body %}   
  {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

              <!-- Form Panel    -->
              <div class="col-lg-6 bg-white">
                <div class="d-flex align-items-center px-4 px-lg-5 h-100">
                  <form class="register-form py-5 w-100" method="get" action="login.html">
                    <div class="input-material-group mb-3">
                      <input class="input-material" type="text" name="registerUsername" required data-validate-field="registerUsername">
                      <label class="label-material" for="register-username">Nom d'utilisateur</label>
                    </div>
                    <div class="input-material-group mb-3">
                      <input class="input-material" type="email" name="registerEmail" required data-validate-field="registerEmail">
                      <label class="label-material">Addresse email</label>
                    </div>
                    <div class="input-material-group mb-4">
                      <input class="input-material" type="password" name="registerPassword" required data-validate-field="registerPassword">
                      <label class="label-material">Mot de passe</label>
                    </div>
                    <div class="form-check mb-4">
                      <input class="form-check-input" id="register-agree" name="registerAgree" type="checkbox" required value="1" data-validate-field="registerAgree">
                      <label class="form-check-label form-label" for="register-agree">Je suis d'accord avec les termes et la politique                      </label>
                    </div>
                    <button class="btn btn-danger" id="login" type="submit">S'inscrire</button><br><small class="text-gray-500">Vous avez déjà un compte? </small><a class="text-sm text-paleBlue" href="./connexion">Connecter vous</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     {% endblock %}