<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>
    <link rel="icon" href="" />

  </head>
  {% include 'utils/navbar.html.twig' %}
  <body>
    {% block body %}

    {% endblock %}
  </body>
  {% include 'utils/footer.html.twig' %}
</html>
